# **COURSE DATA WAREHOUSE**

In [1]:
%load_ext sql
import sqlite3

In [2]:
%sql sqlite:///CourseDataWarehouse.db
conn = sqlite3.connect('CourseDataWarehouse.db')

## **Query 1**

### The total number of hours each professor taught in **School Year 2018**

In [3]:
%%sql

SELECT Name, Term, SUM(Meeting_hours)
    FROM CLASS_STATISTICS
        LEFT JOIN INSTRUCTOR1 USING (Instructor_id)
        LEFT JOIN TERM1 USING (Term_id)
        WHERE Term like '%2018'
  GROUP BY Term, Name
LIMIT 5

 * sqlite:///CourseDataWarehouse.db
Done.

[(None, 'Fall2018', 132),
 ('Aaron R.  Van Dyke', 'Fall2018', 211),
 ('Adrian S.  Rusu-Sprincenatu', 'Fall2018', 70),
 ('Ahmed M.  Ebrahim', 'Fall2018', 105),
 ('Alan C.  Murchie', 'Fall2018', 70)]

## **Query 2**

### The total number of professors within each program for **School Year 2018**

In [4]:
%%sql

SELECT Program_name, COUNT(DISTINCT Instructor_id) as Number_of_Professors
    FROM CLASS_STATISTICS
        LEFT JOIN PROGRAM1 USING (Program_id)
        LEFT JOIN TERM1 USING (Term_id)
        WHERE Term like '%2018'
        GROUP BY Program_name
        ORDER BY Number_of_Professors DESC
    LIMIT 5

 * sqlite:///CourseDataWarehouse.db
Done.

[('Nursing', 75),
 ('English', 55),
 ('Mathematics', 35),
 ('Biology', 33),
 ('Psychology', 26)]

## **Query 3**

### Most used classrooms within a building in **Year 2018**

#### Example: DSB

In [5]:
%%sql
SELECT Location, Term, COUNT(ClassStat_id) as Total_Number_of_Classes
FROM CLASS_STATISTICS
    LEFT JOIN LOCATION1 USING (Location_id)
    LEFT JOIN TERM1 USING (Term_id)
    WHERE Location like 'DSB%'
    GROUP BY Location, Term
    LIMIT 5

 * sqlite:///CourseDataWarehouse.db
Done.

[('DSB 104', 'Fall2014', 17),
 ('DSB 104', 'Fall2015', 15),
 ('DSB 104', 'Fall2016', 17),
 ('DSB 104', 'Fall2017', 17),
 ('DSB 104', 'Fall2018', 15)]

### The student-professor ratio by programs

In [6]:
%%sql
SELECT Term, Program_name as Program, SUM(Act) as Seats, AVG(Act) as Student_Professor_Ratio, COUNT(*) as Sections
FROM CLASS_STATISTICS
    LEFT JOIN TERM1 USING (Term_id)
    LEFT JOIN PROGRAM1 USING (Program_id)
    WHERE Program_name IN ('Accounting','Economics','Finance','Management','Marketing','Information Systems',
                           'Operations Management','Business')
    GROUP BY Program_name, Term

 * sqlite:///CourseDataWarehouse.db
Done.

[('Fall2014', 'Accounting', 900, 21.951219512195124, 41),
 ('Fall2015', 'Accounting', 927, 25.054054054054053, 37),
 ('Fall2016', 'Accounting', 923, 22.51219512195122, 41),
 ('Fall2017', 'Accounting', 964, 22.952380952380953, 42),
 ('Fall2018', 'Accounting', 1026, 24.428571428571427, 42),
 ('Spring2015', 'Accounting', 917, 20.84090909090909, 44),
 ('Spring2016', 'Accounting', 924, 24.31578947368421, 38),
 ('Spring2017', 'Accounting', 900, 21.428571428571427, 42),
 ('Spring2018', 'Accounting', 897, 21.878048780487806, 41),
 ('Spring2019', 'Accounting', 980, 25.128205128205128, 39),
 ('Summer2015', 'Accounting', 158, 19.75, 8),
 ('Summer2016', 'Accounting', 155, 17.22222222222222, 9),
 ('Summer2017', 'Accounting', 204, 18.545454545454547, 11),
 ('Summer2018', 'Accounting', 204, 18.545454545454547, 11),
 ('Winter2015', 'Accounting', 10, 10.0, 1),
 ('Winter2016', 'Accounting', 9, 9.0, 1),
 ('Fall2014', 'Business', 220, 12.222222222222221, 18),
 ('Fall2015', 'Business', 221, 13.8125, 16),
 ('Fall2016', 'Business', 251, 14.764705882352942, 17),
 ('Fall2017', 'Business', 227, 15.133333333333333, 15),
 ('Fall2018', 'Business', 241, 16.066666666666666, 15),
 ('Spring2015', 'Business', 211, 14.066666666666666, 15),
 ('Spring2016', 'Business', 252, 18.0, 14),
 ('Spring2017', 'Business', 259, 16.1875, 16),
 ('Spring2018', 'Business', 213, 15.214285714285714, 14),
 ('Spring2019', 'Business', 247, 12.35, 20),
 ('Summer2015', 'Business', 42, 8.4, 5),
 ('Summer2016', 'Business', 47, 6.714285714285714, 7),
 ('Summer2017', 'Business', 33, 8.25, 4),
 ('Summer2018', 'Business', 31, 7.75, 4),
 ('Winter2015', 'Business', 16, 16.0, 1),
 ('Winter2016', 'Business', 25, 25.0, 1),
 ('Winter2017', 'Business', 20, 20.0, 1),
 ('Winter2018', 'Business', 15, 15.0, 1),
 ('Fall2014', 'Economics', 811, 23.17142857142857, 35),
 ('Fall2015', 'Economics', 703, 22.677419354838708, 31),
 ('Fall2016', 'Economics', 705, 19.583333333333332, 36),
 ('Fall2017', 'Economics', 705, 20.735294117647058, 34),
 ('Fall2018', 'Economics', 752, 22.11764705882353, 34),
 ('Spring2015', 'Economics', 730, 24.333333333333332, 30),
 ('Spring2016', 'Economics', 668, 21.548387096774192, 31),
 ('Spring2017', 'Economics', 704, 20.705882352941178, 34),
 ('Spring2018', 'Economics', 677, 21.15625, 32),
 ('Spring2019', 'Economics', 720, 23.225806451612904, 31),
 ('Summer2015', 'Economics', 46, 11.5, 4),
 ('Summer2016', 'Economics', 27, 13.5, 2),
 ('Summer2017', 'Economics', 20, 10.0, 2),
 ('Summer2018', 'Economics', 26, 13.0, 2),
 ('Fall2014', 'Finance', 691, 24.678571428571427, 28),
 ('Fall2015', 'Finance', 859, 25.264705882352942, 34),
 ('Fall2016', 'Finance', 804, 24.363636363636363, 33),
 ('Fall2017', 'Finance', 860, 22.63157894736842, 38),
 ('Fall2018', 'Finance', 851, 23.63888888888889, 36),
 ('Spring2015', 'Finance', 771, 23.363636363636363, 33),
 ('Spring2016', 'Finance', 729, 20.82857142857143, 35),
 ('Spring2017', 'Finance', 788, 21.2972972972973, 37),
 ('Spring2018', 'Finance', 679, 19.4, 35),
 ('Spring2019', 'Finance', 758, 21.055555555555557, 36),
 ('Summer2015', 'Finance', 33, 16.5, 2),
 ('Summer2016', 'Finance', 34, 17.0, 2),
 ('Summer2017', 'Finance', 49, 16.333333333333332, 3),
 ('Summer2018', 'Finance', 33, 11.0, 3),
 ('Winter2017', 'Finance', 14, 14.0, 1),
 ('Winter2018', 'Finance', 7, 7.0, 1),
 ('Fall2014', 'Information Systems', 322, 21.466666666666665, 15),
 ('Fall2015', 'Information Systems', 371, 24.733333333333334, 15),
 ('Fall2016', 'Information Systems', 329, 21.933333333333334, 15),
 ('Fall2017', 'Information Systems', 393, 24.5625, 16),
 ('Fall2018', 'Information Systems', 401, 23.58823529411765, 17),
 ('Spring2015', 'Information Systems', 302, 23.23076923076923, 13),
 ('Spring2016', 'Information Systems', 296, 18.5, 16),
 ('Spring2017', 'Information Systems', 329, 21.933333333333334, 15),
 ('Spring2018', 'Information Systems', 421, 23.38888888888889, 18),
 ('Spring2019', 'Information Systems', 328, 20.5, 16),
 ('Summer2016', 'Information Systems', 7, 7.0, 1),
 ('Summer2018', 'Information Systems', 5, 5.0, 1),
 ('Winter2015', 'Information Systems', 10, 10.0, 1),
 ('Winter2016', 'Information Systems', 11, 11.0, 1),
 ('Winter2018', 'Information Systems', 10, 10.0, 1),
 ('Fall2014', 'Management', 683, 22.032258064516128, 31),
 ('Fall2015', 'Management', 729, 24.3, 30),
 ('Fall2016', 'Management', 776, 24.25, 32),
 ('Fall2017', 'Management', 846, 24.88235294117647, 34),
 ('Fall2018', 'Management', 743, 23.21875, 32),
 ('Spring2015', 'Management', 643, 24.73076923076923, 26),
 ('Spring2016', 'Management', 758, 26.137931034482758, 29),
 ('Spring2017', 'Management', 769, 23.303030303030305, 33),
 ('Spring2018', 'Management', 781, 24.40625, 32),
 ('Spring2019', 'Management', 700, 23.333333333333332, 30),
 ('Summer2015', 'Management', 27, 13.5, 2),
 ('Summer2016', 'Management', 61, 20.333333333333332, 3),
 ('Summer2017', 'Management', 39, 19.5, 2),
 ('Summer2018', 'Management', 37, 18.5, 2),
 ('Winter2015', 'Management', 10, 10.0, 1),
 ('Winter2016', 'Management', 11, 11.0, 1),
 ('Winter2017', 'Management', 16, 16.0, 1),
 ('Winter2018', 'Management', 16, 16.0, 1),
 ('Fall2014', 'Marketing', 607, 23.346153846153847, 26),
 ('Fall2015', 'Marketing', 717, 27.576923076923077, 26),
 ('Fall2016', 'Marketing', 739, 27.37037037037037, 27),
 ('Fall2017', 'Marketing', 734, 27.185185185185187, 27),
 ('Fall2018', 'Marketing', 799, 26.633333333333333, 30),
 ('Spring2015', 'Marketing', 709, 25.321428571428573, 28),
 ('Spring2016', 'Marketing', 815, 27.166666666666668, 30),
 ('Spring2017', 'Marketing', 791, 26.366666666666667, 30),
 ('Spring2018', 'Marketing', 810, 26.129032258064516, 31),
 ('Spring2019', 'Marketing', 736, 25.379310344827587, 29),
 ('Summer2015', 'Marketing', 14, 7.0, 2),
 ('Summer2016', 'Marketing', 25, 12.5, 2),
 ('Winter2016', 'Marketing', 5, 5.0, 1),
 ('Winter2018', 'Marketing', 9, 9.0, 1),
 ('Fall2014', 'Operations Management', 161, 23.0, 7),
 ('Fall2015', 'Operations Management', 194, 24.25, 8),
 ('Fall2016', 'Operations Management', 190, 23.75, 8),
 ('Fall2017', 'Operations Management', 198, 22.0, 9),
 ('Fall2018', 'Operations Management', 193, 24.125, 8),
 ('Spring2015', 'Operations Management', 224, 22.4, 10),
 ('Spring2016', 'Operations Management', 250, 27.77777777777778, 9),
 ('Spring2017', 'Operations Management', 268, 26.8, 10),
 ('Spring2018', 'Operations Management', 293, 26.636363636363637, 11),
 ('Spring2019', 'Operations Management', 240, 26.666666666666668, 9)]